.DS_Store
secrets.pass
roles/marinepi-provisioning
signalk/security.json
signalk/*.log
signalk/node_modules/
signalk/applicationData/users/
signalk/freeboard-sk-helper/course_db/
signalk/plugin-config-data/ais-forwarder.json
signalk/plugin-config-data/aisreporter.json
signalk/plugin-config-data/signalk-to-influxdb.json
signalk/plugin-config-data/signalk-windy.json
signalk/plugin-config-data/signalk-saillogger.json
signalk/plugin-config-data/signalk-saillogger/
signalk/plugin-config-data/signalk-postgsail.json
signalk/plugin-config-data/signalk-postgsail/
signalk/plugin-config-data/signalk-barometer-trend/
signalk/plugin-config-data/signalk-hour-meter/
signalk/plugin-config-data/signalk-polar/*.db
signalk/plugin-config-data/signalk-triplogger/current.json
signalk/plugin-config-data/signalk-triplogger/2022-*-*.json
signalk/plugin-config-data/signalk-triplogger/2023-*-*.json
signalk/plugin-config-data/signalk-triplogger/2024-*-*.json
signalk/plugin-config-data/signalk-triplogger/2025-*-*.json
signalk/plugin-config-data/signalk-logbook/
signalk/plugin-config-data/noflo-signalk.json
signalk/plugin-config-data/signalk-to-nfl.json
signalk/plugin-config-data/signalk-autostate/persisted-state.json
